.wrapper-main{
  .wrapper {
    padding: 8rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 8rem;
    justify-items: center;
    figure {
      margin: 0;
      padding: 0;
      img {
        cursor: pointer;
      }
    }
  }
  .load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    line-height: 30px;
    color: $primaryGray;
    font-weight: 500;
  }
}
