footer {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: $primaryGray;
        text-decoration: none;
      }
    }
    .fas.fa-circle{
      font-size: 5px;
      color: $primaryGray;
    }
  }
}
